* {
	padding: 0;
	margin: 0;
}

body {
	width: 100%;
}

.main {
	min-height: 800px;
}

.main_top {
	height: 150px;
	width: 1000px;
	margin: auto;
}

h1 {
	text-align: center;
	padding-top: 40px;
	color: black;
}

h3 {
	text-align: center;
	padding-top: 10px;
}

.main a {
	text-decoration: none;
	color: #249FFD;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

.main_center {
	width: 1000px;
	margin: auto;
	margin-top: 20px;
	border: 1px solid #249FFD;
	border-radius: 8px;
	position: relative;
}

.main_bottom {
	height: 150px;
	width: 1000px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 30px;
	border: 1px solid #249FFD;
	border-radius: 8px;
	position: relative;
}

h2 {
	margin-left: 30px;
	border: 1px solid #249FFD;
	position: absolute;
	top: -17px;
	background-color: #249FFD;
	color: white;
	padding: 4px 12px;
	border-radius: 8px;
	font-size: 19px;
	box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

h4 {
	margin-top: 30px;
	margin-left: 30px;
}

ul{
	margin-left: 50px;
	margin-top: 40px;
}
ul li{
	margin-top: 10px;
}

.form-group{
	margin-left: 30px;
}
.sj{
	font-size: 20px;
}
.form-control{
	width: 90%;
	height: 40px;
	margin-top: 20px;
	margin-left: 30px;
	border: 1px solid #DADADA;
	padding-left: 15px;
	font-size: 16px;
}
.form-control1{
	width: 92%;
	height: 40px;
	margin-top: 20px;
	margin-left: 30px;
	border: 1px solid #DADADA;
	padding-left: 15px;
	font-size: 16px;
}
.btn{
	width: 120px;
	height: 42px;
	margin-top: 20px;
	margin-left: 60px;
	margin-bottom: 30px;
	background-color: white;
	border: 1px solid #DADADA;
	border-left-color: rgba(0, 0, 0, .1);
	font-size: 15px;
}
.item{
	margin-left: 30px;
	margin-top: 10px;
}

@media (max-width:1000px) {
	.main_top {
		width: 93%;
	}

	.main_center {
		width: 93%;
	}

	.main_bottom {
		width: 93%;
	}
	.form-control{
		width: 93%;
		margin-left: 0;
	}
	.form-control1{
		width: 93%;
		margin-left: 0;
	}
}